# Copyright (c) 2022 SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

cluster.name: opensearch-cluster

# Bind to all interfaces because we don't know what IP address Docker will assign to us.
network.host: 0.0.0.0

# Curator compatibility
compatibility:
  override_main_response_version: true

# # minimum_master_nodes need to be explicitly set when bound on a public IP
# # set to 1 to allow single node clusters
# discovery.zen.minimum_master_nodes: 1

# Setting network.host to a non-loopback address enables the annoying bootstrap checks. "Single-node" mode disables them again.
# discovery.type: single-node

# Start OpenSearch Security Demo Configuration
# WARNING: revise all the lines below before you go into production
plugins:
  security:
    ssl:
      transport:
        pemcert_filepath: esnode.pem
        pemkey_filepath: esnode-key.pem
        pemtrustedcas_filepath: root-ca.pem
        enforce_hostname_verification: false
      http:
        enabled: false
    allow_unsafe_democertificates: true
    allow_default_init_securityindex: true
    authcz:
      admin_dn:
        - CN=fury,OU=sighup,O=sighup,L=test,C=it
    audit.type: internal_opensearch
    enable_snapshot_restore_privilege: true
    check_snapshot_restore_write_privileges: true
    restapi:
      roles_enabled: ["all_access"]
    system_indices:
      enabled: true
      indices:
        [
            ".opendistro-alerting-config",
            ".opendistro-alerting-alert*",
            ".opendistro-anomaly-results*",
            ".opendistro-anomaly-detector*",
            ".opendistro-anomaly-checkpoints",
            ".opendistro-anomaly-detection-state",
            ".opendistro-reports-*",
            ".opendistro-notifications-*",
            ".opendistro-notebooks",
            ".opendistro-asynchronous-search-response*",
        ]
