# Copyright (c) 2020 SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: logging

commonLabels:
  module.kfd.sighup.io/name: "logging"
  module.kfd.sighup.io/version: "v1.9.0"
  module.kfd.sighup.io/component: "cerebro"
  kfd.sighup.io/source: "kustomize"

resources:
  - cerebro.yml

images:
  - name: lmenezes/cerebro
    newName: registry.sighup.io/fury/lmenezes/cerebro
    newTag: 0.9.4

configMapGenerator:
  - name: cerebro-config
    files:
      - application.conf
