# Copyright (c) 2022 SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: logging

resources:
  - datasource
  - deploy.yml

images:
  - name: docker.io/grafana/loki
    newName: registry.sighup.io/fury/grafana/loki
    newTag: 2.9.10
  - name: docker.io/nginxinc/nginx-unprivileged
    newName: registry.sighup.io/fury/nginxinc/nginx-unprivileged
    newTag: 1.20.2-alpine

secretGenerator:
  - name: loki-distributed
    files:
      - configs/config.yaml
