# Copyright (c) 2020 SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: logging

commonLabels:
  module.kfd.sighup.io/name: "logging"
  module.kfd.sighup.io/version: "v1.10.1"
  module.kfd.sighup.io/component: "elasticsearch"
  kfd.sighup.io/source: "kustomize"

images:
  - name: justwatch/elasticsearch_exporter
    newName: registry.sighup.io/fury/justwatch/elasticsearch_exporter
    newTag: "1.1.0"
  - name: docker.elastic.co/elasticsearch/elasticsearch
    newName: registry.sighup.io/fury/elasticsearch
    newTag: "7.16.2"
  - name: alpine
    newName: registry.sighup.io/fury/alpine
    newTag: "3.14"

resources:
  - elasticsearch.yml
  - ns.yml
  - sm.yml
  - rules.yml
