namespace: logging

images:
  - name: justwatch/elasticsearch_exporter
    newTag: "1.1.0"
  - name: docker.elastic.co/elasticsearch/elasticsearch
    newTag: "6.8.8"

resources:
  - elasticsearch.yml
  - ns.yml
  - sm.yml
